/* common shared styles */

/* header section style */
.banner-container {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('../resources/Banner\ Image.png');
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1320px;
  height: 600px;
  margin: 30px 100px 0px 100px;
}

.banner-greeting {
  color: #fff;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding: 150px 80px 0px 80px;
}

.banner-title {
  color: #fff;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}

/* off section style */

.off-title-one {
  color: #f00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 88px;
  font-weight: 700;
}

.off-title-two {
  color: #f00;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.off-title-three {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.new-year-photo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

/* welcome to party section style */
.party {
  background-image: url('../resources/Vectorrr.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px 100px 0px 100px;
}

.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}

.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
